<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luke.mapper.PositionMapper">

    <resultMap id="BaseResultMap" type="com.luke.entity.Position">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="positon_name" column="positon_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,positon_name,create_time
    </sql>
</mapper>
